* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    background: url("gplaypattern.png");
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: #666;
    transition: color .2s ease;
    padding: 3px 0;
    margin-bottom: 15px;
}

a:hover {
    color: #aaa;

}

a:hover::after,
a:hover::before {
    width: 100%;
    left: 0;
}

a::after,
a::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px;
}

a::before {
    transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #F44336;
}

a::after {
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #2196f3;
}


